<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
 
   <title><%= data.page.title %></title>
   <meta name="author" content="<%= data.page.author %>" />

   <!--- Blueprint CSS Framework -->
   <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/stylesheets/site.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="container">
	
   <div style="text-align: center;" class="column span-11 prepend-1 append-2 first last" id="header">
     <a href="/index.html" border="none"><img src="/images/mountain-tux.png" /></a>
     <hr>
     <ul id="navigation">
		<li><a href="/index.html">Home</a>&#10022;</li>
	    <li><a href="/meetings.html">Meetings</a>&#10022;</li>
	    <li><a href="/faq.html">FAQ</a>&#10022;</li>
		<li><a href="/lists.html">Mailing Lists</a>&#10022;</li>
        <li><a href="/about_blug.html">About BLUG</a></li>
	  </ul>
   </div>
	
   <div class="column span-8 prepend-1 first">
      <%= yield %>
   </div>

   <div class="column span-3 last">	
     <h4>Next Meeting</h4>
     <p>
	  <ul>
      <li><a href="http://www.meetup.com/Boulder-Linux-Users-Group-BLUG/">BLUG on Meetup.com</a>
	  </ul>
      </p>
  <h4>What's happening</h4>
	  <p>
        <ul>
          <li><b><a href="http://bit.ly/blug-speaker-calendar-2012">Speaker spreadsheet</a></b></li>
			<li><b><a href="calendar.html">View our calendar</a></b></li>
			<li><b><a href="http://www.google.com/calendar/render?cid=http%3A%2F%2Fwww.google.com%2Fcalendar%2Ffeeds%2Fboulderlinux%2540gmail.com%2Fpublic%2Fbasic" target="_blank">Subscribe to our calendar</a></b></li>
		</ul>
	  </p>
   </div>

   <div class="column span-11 prepend-1 append-2 first last" id="footer">
     <hr />
   </div>
	
</div>
</body>
</html>
