/* yellow 		-> 255 210 51 
   dark grey 	-> 153 153 153
   light grey 	-> 204 204 204 */
body { margin: 1.0em 0 }

#header hr { margin-bottom: 0.5em; height: 0.3em; }

#navigation { text-align: center; margin-left: 0; font-size: 1.5em; list-style-type: none; }
#navigation li { display:inline; padding-right: 0.5em; }
#navigation li a { padding-right: 0.5em; }

#footer hr { margin-bottom: 0.5em; height: 0.3em; }
#footer p { text-align: right }