--- 
title:      BLUG - calendar
created_at: Sun Aug 26 13:53:58 -0600 2007
filter:
  - erb
  - textile
--- 
<iframe src="http://www.google.com/calendar/embed?src=boulderlinux%40gmail.com&amp;chrome=NAVIGATION&amp;mode=AGENDA&amp;height=588" style=" border-width:0 " width="500" frameborder="0" height="600"></iframe>

